In [2]:
import pandas as pd
import sqlalchemy

In [2]:
DATA_DIR = '../../data'
CONF_DIR = '../../conf'
import os
os.listdir(DATA_DIR)

['reviews.csv',
 'neighbourhoods.geojson',
 'neighbourhoods.csv',
 'listings.csv',
 'calendar.csv']

In [6]:
reviews_df = pd.read_csv(f"{DATA_DIR}/reviews.csv")

In [6]:
reviews_df.shape

(1120163, 6)

In [7]:
reviews_df.head()

,listing_id,id,date,reviewer_id,reviewer_name,comments
0,2539,55688172,2015-12-04,25160947,Peter,Great host
1,2539,97474898,2016-08-27,91513326,Liz,Nice room for the price. Great neighborhood. J...
2,2539,105340344,2016-10-01,90022459,Евгений,Very nice apt. New remodeled.
3,2539,133131670,2017-02-20,116165195,George,Great place to stay for a while. John is a gre...
4,2539,138349776,2017-03-19,118432644,Carlos,.

In [7]:
ngh_df = pd.read_csv('../data/neighbourhoods.csv')

In [9]:
ngh_df.shape

(230, 2)

In [12]:
ngh_df.head(10)

  neighbourhood_group      neighbourhood
0               Bronx           Allerton
1               Bronx         Baychester
2               Bronx            Belmont
3               Bronx          Bronxdale
4               Bronx        Castle Hill
5               Bronx        City Island
6               Bronx  Claremont Village
7               Bronx       Clason Point
8               Bronx          Concourse
9               Bronx  Concourse Village

In [8]:
listings_df = pd.read_csv('../data/listings.csv')

/Users/kaden.cho/.pyenv/versions/3.7.1/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3020: DtypeWarning: Columns (43,61,62,94,95) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [15]:
listings_df.shape

(48801, 106)

In [16]:
listings_df.head()

,id,listing_url,scrape_id,last_scraped,name,summary,space,description,experiences_offered,neighborhood_overview,...,instant_bookable,is_business_travel_ready,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,2539,https://www.airbnb.com/rooms/2539,20190602163209,2019-06-03,Clean & quiet apt home by the park,Renovated apt home in elevator building.,"Spacious, renovated, and clean apt home, one b...",Renovated apt home in elevator building. Spaci...,none,Close to Prospect Park and Historic Ditmas Park,...,f,f,moderate,f,f,6,0,5,1,0.21
1,2595,https://www.airbnb.com/rooms/2595,20190602163209,2019-06-03,Skylit Midtown Castle,"Find your romantic getaway to this beautiful, ...","- Spacious (500+ft²), immaculate and nicely fu...","Find your romantic getaway to this beautiful, ...",none,Centrally located in the heart of Manhattan ju...,...,f,f,strict_14_with_grace_period,t,t,2,1,0,1,0.38
2,3647,https://www.airbnb.com/rooms/3647,20190602163209,2019-06-03,THE VILLAGE OF HARLEM....NEW YORK !,NaN,WELCOME TO OUR INTERNATIONAL URBAN COMMUNITY T...,WELCOME TO OUR INTERNATIONAL URBAN COMMUNITY T...,none,NaN,...,f,f,strict_14_with_grace_period,t,t,1,0,1,0,NaN
3,3831,https://www.airbnb.com/rooms/3831,20190602163209,2019-06-03,Cozy Entire Floor of Brownstone,Urban retreat: enjoy 500 s.f. floor in 1899 br...,Greetings! We own a double-duplex brownst...,Urban retreat: enjoy 500 s.f. floor in 1899 br...,none,Just the right mix of urban center and local n...,...,f,f,moderate,f,f,1,1,0,0,4.53
4,4989,https://www.airbnb.com/rooms/4989,20190602163209,2019-06-03,Great 1 bdrm. apartment in the PERFECT location!,Best location in NYC (the greatest city in the...,"Quiet, artsy, 1 bdrm. apt. in Hell's Kitchen (...",Best location in NYC (the greatest city in the...,none,"Hell's Kitchen is a safe, popular, and desirab...",...,f,f,strict_14_with_grace_period,f,f,1,1,0,0,0.24

In [17]:
listings_df.columns

Index(['id', 'listing_url', 'scrape_id', 'last_scraped', 'name', 'summary',
       'space', 'description', 'experiences_offered', 'neighborhood_overview',
       ...
       'instant_bookable', 'is_business_travel_ready', 'cancellation_policy',
       'require_guest_profile_picture', 'require_guest_phone_verification',
       'calculated_host_listings_count',
       'calculated_host_listings_count_entire_homes',
       'calculated_host_listings_count_private_rooms',
       'calculated_host_listings_count_shared_rooms', 'reviews_per_month'],
      dtype='object', length=106)

In [10]:
calendar_df = pd.read_csv('../data/calendar.csv')

In [19]:
calendar_df.shape

(17812547, 7)

In [9]:
calendar_df.head()

NameError: name 'calendar_df' is not defined

In [15]:
import json
with open('../conf/mariadb.json', 'r') as f:
    conf = json.load(f)

In [5]:
username = conf['username']
password = conf['password']
ip = conf['host']
db = conf['db']
con = sqlalchemy.create_engine(f"mysql+pymysql://{username}:{password}@{ip}/{db}")

In [12]:
reviews_df.to_sql(con=con, name='reviews', if_exists='replace')

In [13]:
listings_df.to_sql(con=con, name='listings', if_exists='replace')

In [17]:
ngh_df.to_sql(con=con, name='neighbor', if_exists='replace')

In [19]:
# slow
# calendar_df.to_sql(con=con, name='calendar', if_exists='replace')